body {<!--
	background: #cacaca; -->
	margin: 0;
	padding: 20px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

#table {
	display: table;
	width: 100%;
	background: #fff;
	margin: 0;
	box-sizing: border-box;
}

.caption {
	display: block;
	width: 100%;
	background: #fff; <!--
	background: #64e0ef; -->
	height: 55px;
	padding-left: 10px; <!--
	color: #fff; -->
	color: #000;
	font-size: 20px;
	line-height: 55px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
	box-sizing: border-box;
}

.header-row {
	background: #8b8b8b;
	color: #fff;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	padding: 6px;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
}

.primary {
	text-align: left;
}

input[type="radio"], input[type="checkbox"] {
	display: none;
}